<NavBar @linkUrl="index">
  <div class="tb8">
    <h1>Sign Up</h1>
  </div>
</NavBar>
<div id="pct">
  <div class="f in">
    <div class="wf">
      <div class="tb">
        <h2>Identity Provider</h2>
      </div>
    </div>
    <div class="wf">
      <div class="tb cn">
        <AuthGoogle @mode="signup"/>
      </div>
    </div>
    <div class="wf">
      <div class="tb cn">
        <p>Or <LinkTo @route="sign-in"><b>Sign In</b></LinkTo> to your account.</p>
      </div>
    </div>
  </div>
</div>
